<%- include('includes/header', {title: "Add" }); %>


    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="/" style="all: unset;" class="d-flex flex-row align-items-center">
                    <img class="me-3" src="logo.png" alt="" width="38" height="48" />
                    <h3 style="color: aliceblue;">Hurgada Church</h3>
                </a>
                <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Add New Person</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-5">
            <form class="row g-3 needs-validation was-validated" novalidate="" method="post" action="/add">
                <div class="col-md-4 position-relative">
                    <label for="validationTooltip01" class="form-label">First name</label>
                    <input type="text" class="form-control" id="validationTooltip01" name="Fname" required=""
                        minlength="3" />
                </div>
                <div class="col-md-4 position-relative">
                    <label for="validationTooltip02" class="form-label">Rest of the name</label>
                    <input type="text" class="form-control" id="validationTooltip02" name="Rname" required=""
                        minlength="3" />
                </div>
                <div class="col-md-4 position-relative">
                    <label for="validationTooltipUsername" class="form-label">Date Of Birth</label>
                    <div class="input-group has-validation">
                        <input type="date" id="datepicker" name="date" class="form-control"
                            id="validationTooltipUsername" required />
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <label for="validationTooltipUsername" class="form-label">Email</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                        <input type="email" class="form-control" id="validationTooltipUsername" name="email"
                            aria-describedby="validationTooltipUsernamePrepend" />
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <label for="validationTooltipUsername" class="form-label">Phone</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend">📞</span>
                        <input type="number" class="form-control" id="validationTooltipUsername" name="phone"
                            aria-describedby="validationTooltipUsernamePrepend" required />
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <label for="validationTooltipUsername" class="form-label">Church Name</label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="validationTooltipUsername" name="ChName"
                            aria-describedby="validationTooltipUsernamePrepend" required minlength="3" />
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <label for="validationTooltip03" class="form-label">City</label>
                    <input type="text" class="form-control" id="validationTooltip03" value="Hurgada" name="city"
                        required="" minlength="3" />
                </div>
                <div class="col-md-4 position-relative">
                    <label for="validationTooltip03" class="form-label">Area</label>
                    <input type="text" class="form-control" id="validationTooltip03" required="" name="area"
                        minlength="3" />
                </div>
                <div class="col-md-4 position-relative">
                    <label for="validationTooltip03" class="form-label">Street</label>
                    <input type="text" class="form-control" id="validationTooltip03" required="" name="street"
                        minlength="3" />
                </div>

                <div class="col-12 mt-5">
                    <button class="btn btn-primary btn-lg" type="submit" style="width: 70%; margin-left: 15%">
                        <span style="font-weight: bold; color: #00ff89; font-size: larger;">+</span> Add Person
                    </button>
                </div>
            </form>
            <% if (error){ %>
                <div class="bg-body-tertiary p-5 rounded mt-5">
                    <h1 style="color: brown">Error</h1>
                    <p class="lead">
                        <%= error %>.
                    </p>
                </div>
                <% } %>
                    <% if (success){ %>
                        <div class="bg-body-tertiary p-5 rounded mt-5">
                            <h1 style="color: brown">success</h1>
                            <p class="lead">Successfully Added</p>
                        </div>
                        <% } %>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    </body>

    </html>