<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <img class="me-3" src="logo.png" alt="" width="38" height="48" />
            <h3 style="color: aliceblue">Hurgada Church</h3>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Add New Person</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <form class="row g-3 needs-validation was-validated" novalidate="">
            <div class="col-md-4 position-relative">
                <label for="validationTooltip01" class="form-label">First name</label>
                <input type="text" class="form-control" id="validationTooltip01" name="Fname" required="">
            </div>
            <div class="col-md-4 position-relative">
                <label for="validationTooltip02" class="form-label">Rest of the name</label>
                <input type="text" class="form-control" id="validationTooltip02" name="Rname" required="">
            </div>
            <div class="col-md-4 position-relative">
                <label for="validationTooltipUsername" class="form-label">Email</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                    <input type="email" class="form-control" id="validationTooltipUsername" name="email"
                        aria-describedby="validationTooltipUsernamePrepend">

                </div>
            </div>
            <div class="col-md-4 position-relative">
                <label for="validationTooltipUsername" class="form-label">Phone</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="validationTooltipUsernamePrepend">📞</span>
                    <input type="number" class="form-control" id="validationTooltipUsername" name="phone"
                        aria-describedby="validationTooltipUsernamePrepend" required>

                </div>
            </div>
            <div class="col-md-6 position-relative">
                <label for="validationTooltip03" class="form-label">City</label>
                <input type="text" class="form-control" id="validationTooltip03" required="">
            </div>
            <div class="col-md-3 position-relative">
                <label for="validationTooltip04" class="form-label">State</label>
                <select class="form-select" id="validationTooltip04" required="">
                    <option selected="" disabled="" value="">Choose...</option>
                    <option>...</option>
                </select>
                <div class="invalid-tooltip">
                    Please select a valid state.
                </div>
            </div>
            <div class="col-md-3 position-relative">
                <label for="validationTooltip05" class="form-label">Zip</label>
                <input type="text" class="form-control" id="validationTooltip05" required="">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>